.service {
    height: 100%;
    text-align: center;
    background-color: blueviolet !important;
    width: 30vh;
}

.service .service_title {
    color: white !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 35px !important;
    text-align: center;
}

.service .service_description {
    color: white !important;
    border-color: var(--main-color) !important;
    margin-right: 5px !important;
    text-align: center;
}

.service_icon > .MuiSvgIcon-root {
    font-size: 46px !important;
    margin-left: 0 !important;
    font-weight: 300!important;
    color: white !important;
    margin-top: 5px;
}

.position-center{
    justify-content: center;
}

.service_title_span {
    margin-top: -45px !important;
}

.service_title_span span {
  position: absolute;
  height: 7px;
  width: 100%;
  bottom: 21px;
  opacity: 0.4;
  left: 0;
  background-color: var(--main-color) !important;
}
